.leaflet-container {
  height: 100vh;
  width: 100vw;
}

.cluster-icon {
  background-color: #333;
  height: 2em;
  width: 2em;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.2rem;
  box-shadow: 0 0 0px 5px #fff;
}

.zone-button { 
  position: absolute;
  top: 10px;
  left: 50px;
  z-index: 1200;
  background-color: rgba(70, 130, 180, 0.9); /* steelblue */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.zone-button:hover {
  background-color: steelblue;
  transform: scale(1.05);
}

.zone-button.active {
  background-color: rgba(255, 99, 71, 0.9); /* tomato */
}

.zone-button.active:hover {
  background-color: tomato;
}
